.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 0.25s;
}

@media (hover: hover) {
    .image.rise:hover img {
        transform: scale(2) translateY(5rem);
    }

    .image.rise.reverse:hover img {
        transform: scale(2) translateY(-5rem);
    }

    .image.zoom:hover img {
        transform: scale(1.7) translateX(-25%);
    }

    .image.tilt:hover img {
        transform: scale(1.5) translateY(3rem) rotate(-15deg);
    }
}

@media (hover: none) {
    .image.rise img {
        transform: scale(2) translateY(3rem);
    }

    .image.rise.reverse img {
        transform: scale(1) translateY(0);
    }

    .image.zoom img {
        transform: scale(2) translateX(-20vmin);
    }
}

.privacy-header {
    display: flex;
    align-items: center;
}

.privacy-header>.privacy-icon {
    font-size: 6rem;
}

/** Features Page **/

.features-hero h1 {
    font-size: 3rem;
    font-weight: black;
}

.features-hero .gradient {
    font-family: var(--syne-font);
    font-weight: 900;
    background: linear-gradient(145deg, #fc4a1a, #f79c33);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features-hero p {
    font-size: 1.5rem;
    opacity: 0.5;
}