.main {
    max-width: 750px;
    padding: 1rem;
    margin: 0 auto;
}

.prominent-title h1,
.prominent-title h2 {
    text-align: center;
    line-height: 120%;
}

.prominent-title h2 {
    opacity: 0.5;
    margin-bottom: 2rem;
}

.main p {
    margin: 1rem 0;
    line-height: 120%;
}

.main li {
    line-height: 140%;
}

.main h3 {
    margin: 1rem 0;
}

.main li a,
.main p a {
    font-weight: bold;
    color: var(--color-primary);
}

.main li a,
.main p a:hover {
    color: var(--color-secondary);
}

.main code {
    background-color: var(--color-secondary-background);
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.disclaimer-text {
    opacity: 0.5;
    font-weight: 300;
}

/** Preview Page **/
.doc-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
}

.doc-card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    border-radius: 2rem;
    background-color: var(--color-secondary-background);
    padding: 2rem;
}

.doc-card:active {
    transform: scale(0.97);
}

.doc-card-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

.doc-card-title {
    font-family: var(--syne-font);
}

.doc-card-date {
    opacity: 0.5;
}

.doc-filter-bar {
    padding: 1rem;
}

.doc-filter-bar select {
    background-color: transparent;
    text-align-last: right;
    appearance: none;
    border: none;
    color: var(--color-foreground);
    opacity: 0.7;
    font-size: 1rem;
    padding-right: 1.5rem;
    background: transparent;
    background-size: 1.2rem;
    background-image: url("data:image/svg+xml;utf8,<svg fill='1D1D1D' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0;
    cursor: pointer;
}

.doc-card:hover {
    filter: brightness(0.8);
}

@media (max-width: 600px) {
    .doc-filter-bar,
    .doc-cards {
        margin-top: 1rem;
        padding: 0rem;
    }
}

@media (prefers-color-scheme: dark) {

    .doc-filter-bar select {
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }

    .doc-card:hover {
        filter: brightness(1.2);
    }
}